@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Wypożyczalnia rowerów UBB Bike Rental System wita !!!</h1>
    <p>Jesteśmy firmą z tradycjami, działamy na rynku od wielu sekund</p>
    <div class="row">

    <div class="col-6">
            <img style="width: 80%;" src="https://images.kkeu.de/is/image/BEG/Fitness/Sprz%C4%99t_fitness/Rower_pod_biurko_pdplarge-mrd--730640_AFS_00_00_00_18595597.jpg?wid=1024&hei=1024" />
    </div>
    <div class="col-6">
    <img style="width: 100%;" src="https://tvn24.pl/najnowsze/cdn-zdjeciebda1bf788d49d22208575f45ce610931-policjanci-przesiadaja-sie-na-rowery-3435946/alternates/LANDSCAPE_1280" />
    </div>
    </div>
    <div class="container">
        <div class="row widgets footer-widgets">
            <div class="col-lg-4 col-md-6 col-12">
</div>
